 body {
     font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
 }
 
 .navbar {
     background-color: white;
     
 }
 
 .logo {
     margin-left: 650px;
     margin-top: 15px;
     
 }
 
 .quem-somos {
     background-color: #d4e3db;
     color: white;
 }
 
 .margin {
     padding-bottom: 50px;
     padding-top: 10px;
 }
 
 .parceiro {
    background-color: #a0d7d7;
    color: white;
 }
 
 .container {
     display: flex;
 }
 
.textservices {
    
    padding-left: 0px;
  
}

.bg-footer {  
    background-color: rgb(33, 31, 31);
    color: rgb(196, 192, 192);
}

.servicos {
background-color: #d4e3db;
color: rgb(60, 62, 62);
}

.serv {color: white;}